<ion-header>
  <ion-toolbar>
    <ion-segment color="dark">
      <ion-segment-button (click)="loginSegmentButtonClicked()">
        Login
        <!--<ion-icon name="camera"></ion-icon>-->
      </ion-segment-button>
      <ion-segment-button (click)="registerSegmentButtonClicked()">
        Register
        <!--<ion-icon name="bookmark"></ion-icon>-->
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="login">



    <ion-slides pager="false" autoplay="2000" loop="true" speed="1500" effect="fade">
      <ion-slide class="slide-background swiper-no-swiping" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
      </ion-slide>
    </ion-slides>
  <!--<img src="assets/img/background/background-1.jpg">-->
    <div class="login-container">
      <!--<img class="logo" src="assets/img/logo/logo-canon.png" />-->
      <form [formGroup]="loginForm" novalidate>
        <!--<strong>Login:</strong>-->

          <ion-item *ngIf="isSignup">
            <ion-input (value)="fullname" formControlName="fullname" type="text" placeholder="Full Name"
                       [class.invalid]="isSignup && !loginForm.controls.fullname.valid && loginForm.controls.fullname.dirty"></ion-input>
          </ion-item>
          <ion-item class="error-message"
                    *ngIf="isSignup && !loginForm.controls.fullname.valid  && loginForm.controls.fullname.dirty">
            <p>Please enter a user full name.</p>
          </ion-item>

        <ion-item *ngIf="isSignup">
          <ion-input formControlName="username" type="text" placeholder="User Name" (value)="username"
                     [class.invalid]="isSignup && !loginForm.controls.username.valid && loginForm.controls.username.dirty"></ion-input>
        </ion-item>
        <ion-item class="error-message"
                  *ngIf="isSignup && !loginForm.controls.username.valid  && loginForm.controls.username.dirty">
          <p>Please enter a user name.</p>
        </ion-item>

        <ion-item class="login_email">
          <ion-input formControlName="email" type="email" placeholder="Your email address"
                     [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
        </ion-item>

        <ion-item class="error-message"
                  *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
          <p>Please enter a valid email.</p>
        </ion-item>

        <ion-item>
          <ion-input formControlName="password" type="password" placeholder="Your password"
                     [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
        </ion-item>

        <ion-item class="error-message"
                  *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
          <p>Your password needs more than 6 characters.</p>
        </ion-item>

        <button ion-button margin color="danger" (click)="startSign()"><ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>{{acceptButtonName}}</button>
        <button ion-button margin color="blue" (click)="loginCancel()"><ion-icon ios="ios-home" md="md-home"></ion-icon><span>BACK</span></button>
        <!--<button ion-button margin color="danger" (click)="goToSignup()">REGISTER</button>-->
        <!--<p (click)="goToSignup()"><strong><ins>Sign Up</ins></strong></p>-->
        <p *ngIf="!isSignup" (click)="goToResetPassword()"><strong><ins>Forgot your password?</ins></strong></p>

      </form>
    </div>


  <!--</form>-->
</ion-content>