illness-treatment-details {
    .margin-left20 {
        margin-left: 20px;
    }
    .text-area-body {
        // overflow: scroll;
        width: 50%;
        font-size: 10px;
        height: 80px;
        overflow: auto;
    }
}