<ion-header>
	<ion-navbar  color="primary">
		<button ion-button menuToggle>
			<img src="assets/icon/menu-icon-dark.png">
		  <!--<ion-icon name="menu"></ion-icon>-->
		</button>
		<ion-title>Profiles</ion-title>
	</ion-navbar>
</ion-header>
<!--<ion-menu [content]="profilecontent" id="menu-profile">

	<ion-content>
		<ion-list>
			<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        {{item.title}}
      </button>
		</ion-list>
	</ion-content>

</ion-menu>

<ion-nav [root]="root" #profilecontent swipeBackEnabled="false"></ion-nav>-->

<ion-content>
	<ion-list>
		<button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.title}}
    </button>
	</ion-list>
</ion-content>