<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="goHome()">
                <ion-icon name="ios-home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Safety Incident
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>


    <span class="form-title"> Please complete the form below</span>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

    <div class="cssload-circle" *ngIf="isBusy">
        <div class="cssload-up">
            <div class="cssload-innera"></div>
        </div>
        <div class="cssload-down">
            <div class="cssload-innerb"></div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isBusy">


        <!--components start-->




        <div class="form-component">
            <reference-number [parent]="form" [referenceNum]="referenceNumber">
            </reference-number>
        </div>


        <div class="form-component">
            <who-are-you [parent]="form" [isNotEditable]="isSaveSubmit"></who-are-you>
        </div>


        <div class="form-component">
            <what-happened [parent]="form" [isNotEditable]="isSaveSubmit" (personInvolved)="wasPersonInvolved=$event"></what-happened>
        </div>

        <div class="form-component">
            <where-and-when [parent]="form" [isNotEditable]="isSaveSubmit"></where-and-when>
        </div>

        <div class="form-component">
            <immediate-corrective-actions [parent]="form" [isNotEditable]="isSaveSubmit">
            </immediate-corrective-actions>
        </div>

        <div class="form-component">
            <person-involved *ngIf="wasPersonInvolved" [parent]="form" [isNotEditable]="isSaveSubmit">
            </person-involved>
        </div>

        <div class="form-component">
            <image [parent]="form" [submissionImage1]="image1" [submissionImage2]="image2" [submissionImage3]="image3" [submissionImage4]="image4"
                [cat]="category">
            </image>
        </div>





        <div class="form-component">
            <illness-treatment-details [parent]="form" [isNotEditable]="isSaveSubmit">
            </illness-treatment-details>
        </div>



        <div class="form-component">
            <event-category [parent]="form" [isNotEditable]="isSaveSubmit">
            </event-category>
        </div>

        <!-- <div class="form-component">
            <investigator [parent]="form" [isNotEditable]="isSaveSubmit">
            </investigator>
        </div> -->





        <!--buttons-->
        <div class="incident__buttons">
            <button (click)="saveSubmission($event)" type="button" class="save" ion-button *ngIf="!isSaveSubmit">
                <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
                Save
            </button>

            <button type="submit" [disabled]="form.invalid" class="submit" ion-button (click)="submitFunction($event)" *ngIf="!isSaveSubmit">
                <ion-icon ios="ios-send" md="md-send"></ion-icon>
                Save & SUBMIT
            </button>

            <!-- <button type="button" class="submit" ion-button (click)="submitFunction($event)" *ngIf="!isSaveSubmit">
      <ion-icon ios="ios-send" md="md-send"></ion-icon>
      Save & SUBMIT
    </button> -->
        </div>

        <!--<pre>-->
        <!--{{form.value | json}}-->
        <!--</pre>-->

    </form>

</ion-content>