page-currency {
  .content-md {
    background-color: #ecd8b9;
    .item-md {
      background-color: #ecd8b9;
    }
  }
  h2 {
    position: absolute;
  }
  input {
    position: relative;
    float:right;
    background-color: #ecd8b9;
    width: 40%;
    border: none;
  }


    //
    //h2 {
    //  width: 65%;
    //  float: right;
    //}
    //.current-currency-item {
    //  position: relative;
    //  width: 25%;
    //  float: right;
    //}
    //
    //.currency-value1 {
    //  width: 35%;
    //  float: right;
    //}
}
