page-support {
    p {
        margin-bottom: 10px !important;
    }
    ion-card {}
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    // ion-card{
    //     margin-bottom: 100px !important;
    // }
    .bottom-pad {
        padding-bottom: 60px !important;
    }

.header2{
    white-space: normal;
}
}