<ion-header>
	<ion-navbar  color="primary">
		<button ion-button menuToggle>
			<img src="assets/icon/menu-icon-dark.png">
			<!--<ion-icon name="menu"></ion-icon>-->
		</button>
		<ion-title>{{'CATEGORIES' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<!--<ion-content>-->
	<!--<div class="container" *ngIf="isBusy">-->
		<!--<div class="spinner">-->
			<!--<div class="backdrop"></div>-->
			<!--<p>&#9733;</p>-->
		<!--</div>-->
		<!--<p text-center="true">Loading...</p>-->
	<!--</div>-->
		<!--<ion-list>-->
		<!--<ion-item *ngFor="let category of categories" (click)="loadCategory(category)">-->
			<!--<ion-icon name="pricetags" item-left></ion-icon>-->
			<!--<h2>{{category.name}}</h2>-->
			<!--&lt;!&ndash;<ion-badge item-right primary>{{category.count}}</ion-badge>&ndash;&gt;-->
		<!--</ion-item>-->
	<!--</ion-list>-->
<!--</ion-content>-->

<ion-content class="categoriesPage">

	<div class="container" *ngIf="isBusy">
		<div class="spinner">
			<div class="backdrop"></div>
			<p>&#9733;</p>
		</div>
		<p text-center="true">Loading...</p>
	</div>

	<ion-list class="categoriesList">
		<ion-item *ngFor="let category of categories" [navPush]="home" (click)="loadCategory(category)">
			<img src="{{category.img}}">
			<!--<ion-icon name="pricetags"></ion-icon>-->
			<h3> {{category.name}} </h3>

		</ion-item>

	</ion-list>


</ion-content>
