// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
{

    .ios page-home .invisible-btn, .md page-home .invisible-btn {
        width: 100%;
        height: 70%;
        opacity: 0;
    }

    .ios page-safety .invisible-btn, .md page-safety .invisible-btn {
      width: 100%;
      height: 70%;
      opacity: 0;
  }

  .ios page-security .invisible-btn, .md page-security .invisible-btn {
    width: 100%;
    height: 70%;
    opacity: 0;
}

[col-12] {
  padding: 6px;
}

    .grid {
      padding: 0%;
    }

}


.cssload-circle{
  position:relative;
  margin:40px auto;
  width:64px;
  height:64px;
  background:rgb(236,240,241);
  border:solid 4px rgb(44,62,80);
  border-radius:100%;
  overflow:hidden;
  animation: cssload-rotates 1.1s infinite linear;
  -o-animation: cssload-rotates 1.1s infinite linear;
  -ms-animation: cssload-rotates 1.1s infinite linear;
  -webkit-animation: cssload-rotates 1.1s infinite linear;
  -moz-animation: cssload-rotates 1.1s infinite linear;
}
.cssload-up{
  width: 24px;
  height: 32px;
  left:20px;
  overflow:hidden;
  background:rgb(204,238,255);
  position:absolute;
}
.cssload-up:before,.cssload-up:after{
  content:"";
  width:24px;height:24px;
  background:rgb(236,240,241);
  position:absolute;
  z-index:1;
}
.cssload-up:before{
  top:24px;
  left:-14px;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.cssload-up:after{
  top:24px; left:14px;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.cssload-innera{
  position:relative;
  top:12px;
  width:24px;height:24px;
  background:rgb(241,196,15);
  animation: cssload-mymove 1.1s infinite linear;
  -o-animation: cssload-mymove 1.1s infinite linear;
  -ms-animation: cssload-mymove 1.1s infinite linear;
  -webkit-animation: cssload-mymove 1.1s infinite linear;
  -moz-animation: cssload-mymove 1.1s infinite linear;
}
.cssload-down{
  width: 24px;
  height: 32px;
  left:20px;
  top:32px;
  overflow:hidden;
  background:rgb(204,238,255);
  position:absolute;
  z-index:1;
}
.cssload-down:before,.cssload-down:after{
  content:"";
  width:24px;
  height:32px;
  background:rgb(236,240,241);
  position:absolute;
  z-index:1;
}
.cssload-down:before{
  top:-20px;
  left:-14px;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.cssload-down:after{
  top:-20px;
  left:19px;
  transform:rotate(45deg);
  -o-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
}
.cssload-innerb{
  position:relative;
  top:32px;
  width:24px;height:24px; background:rgb(241,196,15);
  animation: cssload-mymoveb 1.1s infinite linear;
  -o-animation: cssload-mymoveb 1.1s infinite linear;
  -ms-animation: cssload-mymoveb 1.1s infinite linear;
  -webkit-animation: cssload-mymoveb 1.1s infinite linear;
  -moz-animation: cssload-mymoveb 1.1s infinite linear;
}


// @media screen and (device-aspect-ratio: 40/71) {}
// @media screen and (device-aspect-ratio: 3/4) {}

// @media
// only screen and (max-device-width: 1136px) and (min-device-width: 960px) and (max-device-height: 640px) and (min-device-height: 560px),
// only screen and (max-device-height: 1136px) and (min-device-height: 960px) and (max-device-width: 640px) and (min-device-width: 560px) {
// /* iPhone only */
// }






@keyframes cssload-mymove{
  0%{top:12px;}
  100%{top:36px;}
}

@-o-keyframes cssload-mymove{
  0%{top:12px;}
  100%{top:36px;}
}

@-ms-keyframes cssload-mymove{
  0%{top:12px;}
  100%{top:36px;}
}

@-webkit-keyframes cssload-mymove{
  0%{top:12px;}
  100%{top:36px;}
}

@-moz-keyframes cssload-mymove{
  0%{top:12px;}
  100%{top:36px;}
}

@keyframes cssload-mymoveb{
  0%{top:32px;}
  90%{top:16px;}
  100%{top:-4px;}
}

@-o-keyframes cssload-mymoveb{
  0%{top:32px;}
  90%{top:16px;}
  100%{top:-4px;}
}

@-ms-keyframes cssload-mymoveb{
  0%{top:32px;}
  90%{top:16px;}
  100%{top:-4px;}
}

@-webkit-keyframes cssload-mymoveb{
  0%{top:32px;}
  90%{top:16px;}
  100%{top:-4px;}
}

@-moz-keyframes cssload-mymoveb{
  0%{top:32px;}
  90%{top:16px;}
  100%{top:-4px;}
}

@keyframes cssload-rotates{
  0%{transform:rotate(0deg);}
  80%{transform:rotate(0deg);}
  100%{transform:rotate(180deg);}
}

@-o-keyframes cssload-rotates{
  0%{-o-transform:rotate(0deg);}
  80%{-o-transform:rotate(0deg);}
  100%{-o-transform:rotate(180deg);}
}

@-ms-keyframes cssload-rotates{
  0%{-ms-transform:rotate(0deg);}
  80%{-ms-transform:rotate(0deg);}
  100%{-ms-transform:rotate(180deg);}
}

@-webkit-keyframes cssload-rotates{
  0%{-webkit-transform:rotate(0deg);}
  80%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(180deg);}
}

@-moz-keyframes cssload-rotates{
  0%{-moz-transform:rotate(0deg);}
  80%{-moz-transform:rotate(0deg);}
  100%{-moz-transform:rotate(180deg);}
}


// Material Design Sidemenu
#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/images/side-menu-top-image.jpg');
    background-size: cover;
    color: white;
    .name {
      font-weight: 500;
      margin-bottom: 3px;
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .user-avatar {
    padding: .5em;
    height: 24vh;
  }
  h3,
  .label
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
}




//img {
//  max-width: 100%;
//  height: auto;
//}

video, audio {
  width:100%;
  max-width:100%;
  box-sizing: border-box;
  display: inline-block;
}

.label.label-ios{
  white-space: normal;
}

.toolbar-title{
  white-space: normal;
}