<!--&lt;!&ndash;<ion-split-pane when="(min-width: 1000px)">&ndash;&gt;-->

<!--&lt;!&ndash; side menu &ndash;&gt;-->
<!--&lt;!&ndash;<ion-menu [content]="content">&ndash;&gt;-->
<!--&lt;!&ndash;<ion-header>&ndash;&gt;-->
<!--&lt;!&ndash;<ion-toolbar color="secondary">&ndash;&gt;-->
<!--&lt;!&ndash;<ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;Menu&ndash;&gt;-->
<!--&lt;!&ndash;</ion-title>&ndash;&gt;-->
<!--&lt;!&ndash;</ion-toolbar>&ndash;&gt;-->
<!--&lt;!&ndash;</ion-header>&ndash;&gt;-->

<!--&lt;!&ndash;<ion-content>&ndash;&gt;-->
<!--&lt;!&ndash;<ion-list>&ndash;&gt;-->
<!--&lt;!&ndash;<button menuClose ion-item *ngFor=" let p of pages " (click)="openPage(p) ">&ndash;&gt;-->
<!--&lt;!&ndash;<ion-icon [name]="p.icon " item-left></ion-icon>{{ p.title }}</button>&ndash;&gt;-->
<!--&lt;!&ndash;</ion-list>&ndash;&gt;-->
<!--&lt;!&ndash;</ion-content>&ndash;&gt;-->

<!--&lt;!&ndash;</ion-menu>&ndash;&gt;-->


<!--<ion-menu [content]="content" id="menu-material">-->

    <!--<ion-content>-->
        <!--&lt;!&ndash; <div class="menu-header">-->
                <!--<img class="user-avatar round" [src]="chosenPicture || placeholder" onerror="this.src='assets/images/avatar/side-menu.png'"-->
                <!--/>-->
                <!--<p class="name">    </p>-->
                <!--<p class="e-mail">   </p>-->
            <!--</div> &ndash;&gt;-->
        <!--<ion-list>-->


            <!--<button menuClose ion-item *ngFor=" let p of pages " (click)="openPage(p) ">-->
            <!--<ion-icon [name]="p.icon " item-left></ion-icon>{{ p.title }}</button>-->

            <!--&lt;!&ndash; <button menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">-->
                    <!--<ion-icon [name]="p.icon" item-left></ion-icon>-->
                    <!--{{p.title}}-->
                <!--</button> &ndash;&gt;-->
        <!--</ion-list>-->
    <!--</ion-content>-->
<!--</ion-menu>-->

<!--&lt;!&ndash; main content &ndash;&gt;-->
<!--<ion-nav [root]="rootPage " main #content swipeBackEnabled="false "></ion-nav>-->

<!--&lt;!&ndash;</ion-split-pane>&ndash;&gt;-->

<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor=" let p of pages " (click)="openPage(p) ">
                <ion-icon [name]="p.icon " item-left></ion-icon>{{ p.title }}</button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>