<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only (click)="goHome()">
          <ion-icon name="ios-home"></ion-icon>
        </button>
        </ion-buttons>
        <ion-title>
            Wellbeing </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content fullscreen="true">

    <span class="form-title"> Please complete the form below</span>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

        <div class="cssload-circle" *ngIf="isBusy">
            <div class="cssload-up">
                <div class="cssload-innera"></div>
            </div>
            <div class="cssload-down">
                <div class="cssload-innerb"></div>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isBusy">


            <!--components start-->




            <div class="form-component">
                <reference-number [parent]="form" [referenceNum]="referenceNumber">
                </reference-number>
            </div>


            <div class="form-component">
                <who-are-you [parent]="form"></who-are-you>
            </div>

            <div class="form-component">
                <what-happened-well-being [parent]="form" [isNotEditable]="isSaveSubmit"></what-happened-well-being>
            </div>

            <div class="form-component">
                <where-and-when-wellbeing [parent]="form" [isNotEditable]="isSaveSubmit">
                </where-and-when-wellbeing>
            </div>




            <div class="form-component">
                <further-information [parent]="form" [isNotEditable]="isSaveSubmit">
                </further-information>
            </div>


            <!--buttons-->
            <div class="incident__buttons">
                <button (click)="saveSubmission($event)" type="button" class="save" ion-button *ngIf="!isSaveSubmit">
      <ion-icon ios="ios-archive" md="md-archive"></ion-icon>
      Save
    </button>

    <button  type="submit" [disabled]="!form.valid" class="submit" ion-button (click)="submitFunction($event)" *ngIf="!isSaveSubmit">
        <ion-icon ios="ios-send" md="md-send"></ion-icon>
        Save & SUBMIT
      </button>
            </div>
     <!--<pre>-->
        <!--{{form.value | json}}-->
      <!--</pre>-->

        </form>
</ion-content>
