page-wordpress-posts {
  .card-md {
    background-color: #dadada;
  }

  .no-image-card-subtitle {
    height: 80px !important;
  }

  .no-image-fav-btn {
    font-size: 1.0rem;
    color: #463E3F;
    ion-icon {
      color: #c3601a;
    }
  }

  .no-image-read-btn {
    font-size: 1.0rem;
    color: #463E3F;
    padding-right: 5px;

    ion-icon {
      color: #c3601a;
    }
  }

  .no-image-datetype {
    color: #c70303;
    font-size: 1.2rem;
  }


  .ion-icon-eye {
    padding-right: 5px;
    zoom:1.5;
  }

  .spinner0 {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #fff700;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 50px auto 3px auto;
    -webkit-animation: rotateplane 1s infinite ease-in-out;
    animation: rotateplane 1s infinite ease-in-out;
    p {
      text-align: center;
      line-height: 30px;
      font-size: 1.5em;
      color: #000000;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-animation: rotatestar 1s infinite ease-in-out;
      animation: rotatestar 1s infinite ease-in-out;
    }
  }
  .loading0{
    margin: 0px auto 50px auto;
  }

  @-webkit-keyframes rotateplane {
    0% {
      -webkit-transform: perspective(120px)
    }
    50% {
      -webkit-transform: perspective(120px)
    }
    100% {
      -webkit-transform: perspective(120px)
    }
  }
  @-webkit-keyframes rotatestar {
    0% {
      -webkit-transform: perspective(120px)
    }
    50% {
      -webkit-transform: perspective(120px)
    }
    100% {
      -webkit-transform: perspective(120px)
    }
  }
  @keyframes rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-90deg);
      -webkit-transform: perspective(120px) rotateX(-90deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg);
      -webkit-transform: perspective(120px) rotateX(-180deg);
    }
  }
  @keyframes rotatestar {
    0% {
      transform: perspective(120px) rotateX(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-90deg);
      -webkit-transform: perspective(120px) rotateX(-90deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg);
      -webkit-transform: perspective(120px) rotateX(-180deg);
    }

  }

  //[menuToggle]{
  //  display: inline-block !important;
  //}
  //ion-header{
  //  .toolbar{
  //    min-height: 60px;
  //
  //    ion-buttons{
  //      button{
  //        img{
  //          min-width: 24px;
  //          height: 20px;
  //          display: inline-block;
  //        }
  //      }
  //
  //      ion-icon{
  //        color: color($colors , maincolor)
  //      }
  //    }
  //    ion-title{
  //      font-size: 1.9rem !important;
  //      text-transform: uppercase;
  //    }
  //
  //  }

  //}

  //.back-button{
  //  //color: color($colors ,light);
  //  position: absolute;
  //  //right: 25px;
  //  //top: 15px;
  //  ion-icon{
  //    color: color($colors ,maincolor)
  //  }
  //}



}
