
<ion-header no-border>
  <ion-navbar  hideBackButton="false"  color="primary">
    <button ion-button menuToggle>
      <img src="assets/icon/menu-icon-dark.png">
      <!--<ion-icon name="menu"></ion-icon>-->
    </button>
    <!--<ion-buttons start menuToggle clear>-->
      <!--<button ion-button  clear>-->
        <!--&lt;!&ndash;<img src="assets/img/menu_img.png">&ndash;&gt;-->
      <!--</button>-->
    <!--</ion-buttons>-->
    <ion-title> Liked Articles</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="likesPage">
  <ion-list class="likesList">
    <ion-item *ngFor="let post of likes">
      <wordpress-feature-media *ngIf="post.featured_media" [id]="post.featured_media" (click)="loadPost(post)"></wordpress-feature-media>
      <img src="assets/img/placeholder.png" *ngIf="!post.featured_media">
      <p (click)="loadPost(post)">
        {{post.title.rendered}}
      </p>
      <!--<img src="{{item.img}}">-->
      <!--<p text-left> {{post.title.rendered}} </p>-->
      <button ion-button icon-only (click)="presentPopover($event, post)" class="popBtn">
          <ion-icon name="md-more"></ion-icon>
      </button>

    </ion-item>

  </ion-list>

    
</ion-content>
