.list > .item-block:first-child ,
 .list > .item-block:last-child ,
 .list .item-block .item-inner{
    border-top: none;
    border-bottom: none;

}

    .likesList{
        ion-item{
            position: relative;
            text-align: center;
            width: 50%;
            float: left;
            background: none;
            color: color($colors, light);
            padding-left: 0;
            &:first-child{
                    padding-left: 0;
                    padding-right: 0;
            }

            ion-label{
                margin: 0;
                img{
                    height: 95px;
                    object-fit: cover;
                    width: 100%;
                    display: inline-block;
                }
            }
         

            h3{
                margin-top: 15px;
            }
            p{
                white-space: normal;
                padding: 5px;
                background: color($colors, dark);
                color: color($colors, light);
                margin-top: -5px;
                margin-bottom: 0;
                height: 80px;
               overflow: hidden;
                        }
            &:nth-child(odd){
                    p{
                        background: color($colors, maincolor); 
                                }

    
            }
            .popBtn{
               position: absolute;
                top: 10px;
                right: 10px;
                background: none;
                color:  color($colors, maincolor); 
                font-size: 1.8rem;
                        }

     
        }
  .item-ios.item-block .item-inner{
            padding: 0;
        }
    }



