<ion-header>
  <ion-navbar color="primary">

    <button ion-button menuToggle  clear no-padding no-margin>
      <img src="assets/icon/menu-icon-dark.png">
    </button>

    <!--<ion-buttons start menuToggle clear>-->
      <!--&lt;!&ndash;<button ion-button icon-only>&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="assets/icon/GH Informer-App-Icon-192x192px.png" style="zoom: 0.14;">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<ion-icon name='menu'></ion-icon>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--<button ion-button  clear>-->
        <!--<img src="assets/icon/menu-icon-dark.png">-->
      <!--</button>-->
    <!--</ion-buttons>-->

    <ion-title>{{'HOME' | translate}}</ion-title>

    <ion-buttons end>
      <button (tap)="toggleRefresh()" ion-button icon-only>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button (tap)="toggleSearchbar()" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only>-->
        <!--<img src="assets/icon/GH Informer-App-Icon-192x192px.png" style="zoom: 0.14;">-->
        <!--&lt;!&ndash;<ion-icon name='menu'></ion-icon>&ndash;&gt;-->
      <!--</button>-->
    <!--</ion-buttons>-->


  </ion-navbar>
  <ion-toolbar [hidden]="hideSearchbar">
    <ion-searchbar [(ngModel)]="search" [showCancelButton]="shouldShowCancel" (ionInput)="searchPosts()" (ionCancel)="toggleSearchbar()"> debounce=500></ion-searchbar>
  </ion-toolbar>
</ion-header>

<!--<ion-content padding class="home">-->

  <!--<div class="container" *ngIf="isBusy">-->
    <!--<div class="spinner">-->
      <!--<div class="backdrop"></div>-->
      <!--<p>&#9733;</p>-->
    <!--</div>-->
    <!--<p text-center="true">Loading...</p>-->
  <!--</div>-->

  <!--&lt;!&ndash;<div class="top-div-content">&ndash;&gt;-->
    <!--<ion-card *ngIf="!isBusy">-->
      <!--<ion-slides (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideDrag()" pager="true">-->

        <!--<ion-slide  *ngFor="let post of most_posts">-->
          <!--<h1>{{category_name}}</h1>-->
          <!--&lt;!&ndash;<h3 [innerHTML]="get_current_most_post_title(category)"></h3>&ndash;&gt;-->
          <!--<wordpress-feature-media [id]="post.featured_media" (click)="loadPost(post)"></wordpress-feature-media>-->
        <!--</ion-slide>-->

      <!--</ion-slides>-->
    <!--</ion-card>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<div class="container0" *ngIf="isBusyMore">-->
    <!--<div class="spinner0">-->
      <!--<div class="backdrop0"></div>-->
      <!--<p>&#9733;</p>-->
    <!--</div>-->
    <!--<p text-center="true" class="loading0">Loading...</p>-->
  <!--</div>-->

  <!--&lt;!&ndash;<div class="bottom-div-content">&ndash;&gt;-->
  <!--<ion-scroll style="height: 46vh;" scrollY="true" no-padding >-->
  <!--<ion-list *ngIf="showDetail" scroll="true" no-padding>-->
    <!--<ion-card *ngFor="let post of selected_posts" no-padding>-->
      <!--<ion-item class="aticle1" text-wrap (click)="loadPost(post)" float-right="true">-->

        <!--&lt;!&ndash; <h4 class="date">{{post.date | date: 'fullDate'}}</h4> &ndash;&gt;-->

        <!--<wordpress-feature-media class="home-media1" *ngIf="post.featured_media" [id]="post.featured_media" (click)="loadPost(post)"></wordpress-feature-media>-->
        <!--&lt;!&ndash;<p [innerHTML]="post.title.rendered"></p>&ndash;&gt;-->
        <!--<h2>{{post.title.rendered}}</h2>-->
      <!--</ion-item>-->
      <!--&lt;!&ndash;<ion-item *ngIf="post['_embedded'] && post['_embedded'].author && post['_embedded'].author[0] && post['_embedded'].author[0].avatar_urls">&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-avatar item-left>&ndash;&gt;-->
        <!--&lt;!&ndash;<img [src]="post['_embedded'].author[0].avatar_urls[96]">&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-avatar>&ndash;&gt;-->
        <!--&lt;!&ndash;<h2 (click)="getAuthorPosts(post.author)">{{post['_embedded'].author[0].name}}</h2>&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
      <!--<ion-card-content>-->
        <!--&lt;!&ndash;<p>{{post.content.rendered | trimHTML | truncate: 100 }}</p>&ndash;&gt;-->
        <!--<p text-right style="color: blue;">{{getDate(post)}}</p>-->
      <!--</ion-card-content>-->

      <!--<ion-row no-padding>-->
        <!--<ion-col text-left>-->
          <!--<button ion-button icon-left clear (click)="favoritePost(post)">-->
            <!--<ion-icon name='heart'></ion-icon>-->
            <!--Favorite-->
          <!--</button>-->
        <!--</ion-col>-->
        <!--<ion-col text-right>-->
          <!--<button ion-button clear (click)="loadPost(post)">-->
            <!--Read-->
          <!--</button>-->
        <!--</ion-col>-->
      <!--</ion-row>-->
    <!--</ion-card>-->

    <!--<div class="container0" *ngIf="isBusyScroll">-->
      <!--<div class="spinner0">-->
        <!--<div class="backdrop0"></div>-->
        <!--<p>&#9733;</p>-->
      <!--</div>-->
      <!--<p text-center="true" class="loading0">Loading...</p>-->
    <!--</div>-->




  <!--</ion-list>-->
  <!--</ion-scroll>-->
  <!--<ion-infinite-scroll *ngIf="!isBusyScroll" (ionInfinite)="loadMore($event)">-->
    <!--<ion-infinite-scroll-content></ion-infinite-scroll-content>-->
  <!--</ion-infinite-scroll>-->


  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<h2>{{'HOME_TITLE' | translate}}</h2>&ndash;&gt;-->
  <!--&lt;!&ndash;<p>&ndash;&gt;-->
    <!--&lt;!&ndash;{{'HOME_MESSAGE' | translate}}&ndash;&gt;-->
  <!--&lt;!&ndash;</p>&ndash;&gt;-->
  <!--&lt;!&ndash;<ion-list>&ndash;&gt;-->
    <!--&lt;!&ndash;<ion-item *ngFor="let page of pages" (tap)="openPage(page)">&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-icon [name]="page.icon" item-left></ion-icon>&ndash;&gt;-->
      <!--&lt;!&ndash;{{page.title | translate}}&ndash;&gt;-->
      <!--&lt;!&ndash;<ion-note item-right>&ndash;&gt;-->
      <!--&lt;!&ndash;{{page.note}}&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-note>&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
  <!--&lt;!&ndash;</ion-list>&ndash;&gt;-->
<!--</ion-content>-->


<ion-content  class="card-background-page">
  <div class="container" *ngIf="isBusy">
    <div class="spinner">
      <div class="backdrop"></div>
      <p>&#9733;</p>
    </div>
    <p text-center="true">Loading...</p>
  </div>
  <ion-card *ngFor="let post of posts">
    <!--<ion-item text-wrap (click)="loadPost(post)">-->
    <!--<h1 [innerHTML]="post.title.rendered"></h1>-->
    <!--</ion-item>-->
    <wordpress-feature-media *ngIf="post.featured_media" [id]="post.featured_media" (click)="loadPost(post)"></wordpress-feature-media>
    <!--<img src="assets/img/placeholder.png" *ngIf="!post.featured_media">-->
    <!--<img src='assets/img/avatar/cosima-avatar.jpg'-->
    <!--/>-->

    <div class="card-subtitle">
      <!--<ion-item text-wrap (click)="loadPost(post)">-->
      <!--<h2 [innerHTML]="post.title.rendered"></h2>-->
      <!--</ion-item>-->
      <h2 (click)="loadPost(post)" [innerHTML]="post.title.rendered">
      </h2>

      <button ion-button icon-left clear (click)="favoritePost(post)" small>
        <ion-icon name='heart'></ion-icon>
        Favorite
      </button>

      <!--<button clear  icon-left ion-button small>-->
      <!--<span class="button-inner">-->
      <!--<ion-icon name="eye" ></ion-icon>-->
      <!--333-->
      <!--</span>-->
      <!--</button>-->

      <button ion-button clear (click)="loadPost(post)" small>
        <ion-icon name='eye' class='ion-icon-eye'></ion-icon>
        Read
      </button>
      <!--<button clear  icon-left ion-button small >-->
      <!--<span class="button-inner">-->
      <!--<ion-icon name="heart" ></ion-icon>-->
      <!--222-->
      <!--</span>-->
      <!--</button>-->
      <span class="datetype">
				{{getDate(post)}}
			  </span>
    </div>

    <!--<ion-card-content *ngIf="!post.featured_media">-->
      <!--&lt;!&ndash;<ion-item text-wrap (click)="loadPost(post)" class="no-image-ion-item">&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;<h2 [innerHTML]="post.title.rendered"></h2>&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
      <!--<div class="no-image-card-subtitle">-->

        <!--<h2 (click)="loadPost(post)">-->
          <!--{{post.title.rendered}}-->
        <!--</h2>-->

        <!--<button ion-button icon-left clear (click)="favoritePost(post)" small class="no-image-fav-btn">-->
          <!--<ion-icon name='heart'></ion-icon>-->
          <!--Favorite-->
        <!--</button>-->

        <!--<button ion-button clear (click)="loadPost(post)" small padding  class="no-image-read-btn">-->
          <!--<ion-icon name='eye' class='ion-icon-eye'></ion-icon>-->
          <!--Read-->
        <!--</button>-->
        <!--<span class="no-image-datetype" padding>{{getDate(post)}}-->
			  <!--</span>-->
      <!--</div>-->
    <!--</ion-card-content>-->


    <!--<ion-item *ngIf="post['_embedded'] && post['_embedded'].author && post['_embedded'].author[0] && post['_embedded'].author[0].avatar_urls && !post.featured_media">-->
    <!--</ion-item>-->
    <!--<ion-card-content *ngIf="!post.featured_media">-->
    <!--<ion-item text-wrap (click)="loadPost(post)">-->
    <!--<h2 [innerHTML]="post.title.rendered"></h2>-->
    <!--</ion-item>-->
    <!--<p>{{post.content.rendered | trimHTML | truncate: 100 }}</p>-->
    <!--<p text-right style="color: blue;">{{getDate(post)}}</p>-->
    <!--</ion-card-content>-->

    <!--<ion-row no-padding *ngIf="!post.featured_media">-->
    <!--<ion-col text-left>-->
    <!--<button ion-button  clear (click)="favoritePost(post)" small>-->
    <!--<ion-icon name='heart'></ion-icon>-->
    <!--Favorite-->
    <!--</button>-->
    <!--</ion-col>-->
    <!--<ion-col text-right>-->
    <!--<button ion-button clear (click)="loadPost(post)" small>-->
    <!--Read-->
    <!--</button>-->
    <!--</ion-col>-->
    <!--</ion-row>-->
  </ion-card>
  <div class="container0" *ngIf="isBusyMore">
    <div class="spinner0">
      <div class="backdrop0"></div>
      <p>&#9733;</p>
    </div>
    <p text-center="true" class="loading0">Loading...</p>
  </div>
  <ion-infinite-scroll *ngIf="!isBusyMore" (ionInfinite)="loadMoreScroll($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
