where-and-when-wellbeing {
    .margin-left20 {
        margin-left: 20px;
    }
    .blue-btn {
        background-color: #417af4;
        color: white;
    }
    .darkblue-btn {
        background-color: #4146f4;
        color: white;
    }
    .invalid {
        border-top: medium solid red;
    }
    .importantText {
        text-align: center;
        color: red;
    }
}