<ion-header>
	<ion-navbar  color="primary">
		<button menuToggle>
			<img src="assets/icon/menu-icon-dark.png">
			<!--<ion-icon name="menu"></ion-icon>-->
		</button>
		<ion-title *ngIf="post">{{post.title.rendered}}</ion-title>
		<ion-buttons end>
	      <button (tap)="sharePost()" ion-button icon-only>
	        <ion-icon name="share"></ion-icon>
	      </button>
	    </ion-buttons>
	</ion-navbar>
</ion-header>

<!--<ion-content class="post">-->
	<!--<div class="container" *ngIf="isBusy">-->
		<!--<div class="spinner">-->
			<!--<div class="backdrop"></div>-->
			<!--<p>&#9733;</p>-->
		<!--</div>-->
		<!--<p text-center="true">Loading...</p>-->
	<!--</div>-->
  <!--<ion-list *ngIf="post">-->
    <!--<ion-card>-->
        <!--<ion-item text-wrap>-->
            <!--<h1 [innerHTML]="post.title.rendered"></h1>-->
        <!--</ion-item>-->
        <!--<wordpress-feature-media *ngIf="post.featured_media" [id]="post.featured_media"></wordpress-feature-media>-->
    <!--</ion-card>-->

    <!--<ion-card text-wrap *ngIf="post.content.rendered">-->
        <!--<p padding [innerHtml]="post.content.rendered"></p>-->
		<!--<p text-right style="color: blue;margin-right: 5px;">{{currentPostDate}}</p>-->
    <!--</ion-card>-->

	<!--&lt;!&ndash;<button ion-button full (click)=previewPost()>Preview</button>&ndash;&gt;-->

	<!--<ion-list> &lt;!&ndash;*ngIf="comments">&ndash;&gt;-->
	  <!--<ion-item-divider light>Comments</ion-item-divider>-->
	  <!--<ion-item text-wrap *ngFor="let comment of commentData">-->
			<!--<ion-label>{{comment.author}}</ion-label>-->
			<!--<ion-label>{{comment.comment}}</ion-label>-->
	  <!--</ion-item>-->

		<!--<ion-card>-->
			<!--<form #f="ngForm">-->
				<!--<ion-item>-->
					<!--<ion-label floating>Name</ion-label>-->
					<!--<ion-input-->
							<!--[(ngModel)]="author_name"-->
							<!--name="author_name"-->
							<!--type="text"-->
							<!--required-->
					<!--&gt;</ion-input>-->
				<!--</ion-item>-->
				<!--&lt;!&ndash;<ion-item>&ndash;&gt;-->
					<!--&lt;!&ndash;<ion-label floating>Email</ion-label>&ndash;&gt;-->
					<!--&lt;!&ndash;<ion-input&ndash;&gt;-->
							<!--&lt;!&ndash;[(ngModel)]="author_email"&ndash;&gt;-->
							<!--&lt;!&ndash;name="author_email"&ndash;&gt;-->
							<!--&lt;!&ndash;type="text"&ndash;&gt;-->
							<!--&lt;!&ndash;required&ndash;&gt;-->
					<!--&lt;!&ndash;&gt;</ion-input>&ndash;&gt;-->
				<!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
				<!--<ion-item>-->
					<!--<ion-label floating>Content</ion-label>-->
					<!--<ion-textarea-->
							<!--[(ngModel)]="content"-->
							<!--name="content"-->
							<!--required-->
					<!--&gt;</ion-textarea>-->
				<!--</ion-item>-->
				<!--<button-->
						<!--ion-button-->
						<!--type="submit"-->
						<!--full-->
						<!--[disabled]="f.valid === false"-->
						<!--(click)="doComment(f.value,$event)"-->
				<!--&gt;POST COMMENT</button>-->
			<!--</form>-->
		<!--</ion-card>-->
	<!--</ion-list>-->

  <!--</ion-list>-->
<!--</ion-content>-->


<ion-content class="post">
	<div class="container" *ngIf="isBusy">
		<div class="spinner">
			<div class="backdrop"></div>
			<p>&#9733;</p>
		</div>
		<p text-center="true">Loading...</p>
	</div>



	<div class="card-background-page" *ngIf="post">
		<ion-card>
			<wordpress-feature-media *ngIf="post.featured_media" [id]="post.featured_media"></wordpress-feature-media>
			<ion-grid class="card-subtitle row">
				<!--<ion-row class="detialsPage">-->
					<!--<ion-col width-25>-->
						<!--<button clear  icon-left ion-button class="col" (click)="favoritePost(post)">-->
							<!--<ion-icon name="heart" ></ion-icon>-->
						<!--</button>-->
					<!--</ion-col>-->
					<!--<ion-col width-25>-->
						<!--<button clear  icon-left ion-button class="col" class="active" >-->
							<!--<ion-icon name="ios-add-circle" ></ion-icon>-->
						<!--</button>-->
					<!--</ion-col>-->
					<!--<ion-col width-25>-->
						<!--<button clear  icon-left ion-button class="col" >-->
							<!--<ion-icon name="md-refresh" ></ion-icon>-->
						<!--</button>-->
					<!--</ion-col>-->
					<!--<ion-col width-25>-->
						<!--<button clear  icon-left ion-button class="col" >-->
							<!--<ion-icon name="md-share" ></ion-icon>-->
						<!--</button>-->
					<!--</ion-col>-->
				<!--</ion-row>-->
			</ion-grid>
		</ion-card>
	</div>


	<div class="newsDetails" *ngIf="post">
		<ion-card class="{{global.state['theme']}}">
			<ion-card-header [innerHTML]="post.title.rendered">
			</ion-card-header>
			<span>{{currentPostDate}}</span>
			<ion-card-content>
				<p padding [innerHTML]="post.content.rendered"></p>
			</ion-card-content>
		</ion-card>


		<ion-list> <!--*ngIf="comments">-->
			<ion-item-divider light>Comments</ion-item-divider>
			<ion-item text-wrap *ngFor="let comment of commentData">
				<ion-label style="color:blue;">{{comment.author}}</ion-label>
				<ion-label>{{comment.comment}}</ion-label>
			</ion-item>

			<ion-card>
				<form #f="ngForm">
					<!--<ion-item>-->
						<!--<ion-label floating>Name</ion-label>-->
						<!--<ion-input-->
								<!--[(ngModel)]="author_name"-->
								<!--name="author_name"-->
								<!--type="text"-->
								<!--required-->
						<!--&gt;</ion-input>-->
					<!--</ion-item>-->
					<!--<ion-item>-->
					<!--<ion-label floating>Email</ion-label>-->
					<!--<ion-input-->
					<!--[(ngModel)]="author_email"-->
					<!--name="author_email"-->
					<!--type="text"-->
					<!--required-->
					<!--&gt;</ion-input>-->
					<!--</ion-item>-->
					<ion-item>
						<ion-label floating>Content</ion-label>
						<ion-textarea
								[(ngModel)]="content"
								name="content"
								required
						></ion-textarea>
					</ion-item>
					<button
							ion-button
							type="submit"
							full
							[disabled]="f.valid === false && postBrnStr == 'POST COMMENT'"
							(click)="doComment(f.value,$event)"
					>{{postBrnStr}}</button>
					<ion-label  *ngIf="postBrnStr != 'POST COMMENT'">* Plese log in to post comment.</ion-label>
				</form>
			</ion-card>
		</ion-list>
	</div>
</ion-content>
