page-wordpress-post {
  //.spinner {
  //  width: 30px;
  //  height: 30px;
  //  border-radius: 3px;
  //  background-color: #fff700;
  //  -webkit-transform: translate3d(0,0,0);
  //  transform: translate3d(0,0,0);
  //  margin: 50px auto 3px auto;
  //  -webkit-animation: rotateplane 1s infinite ease-in-out;
  //  animation: rotateplane 1s infinite ease-in-out;
  //  p {
  //    text-align: center;
  //    line-height: 30px;
  //    font-size: 1.5em;
  //    color: #000000;
  //    -webkit-transform: translate3d(0,0,0);
  //    transform: translate3d(0,0,0);
  //    -webkit-animation: rotatestar 1s infinite ease-in-out;
  //    animation: rotatestar 1s infinite ease-in-out;
  //  }
  //}
  //
  //@-webkit-keyframes rotateplane {
  //  0% { -webkit-transform: perspective(120px) }
  //  50% { -webkit-transform: perspective(120px)}
  //  100% { -webkit-transform: perspective(120px) }
  //}
  //@-webkit-keyframes rotatestar {
  //  0% { -webkit-transform: perspective(120px) }
  //  50% { -webkit-transform: perspective(120px)}
  //  100% { -webkit-transform: perspective(120px) }
  //}
  //@keyframes rotateplane {
  //  0% {
  //    transform: perspective(120px) rotateX(0deg);
  //    -webkit-transform: perspective(120px) rotateX(0deg);
  //  } 50% {
  //      transform: perspective(120px) rotateX(-90deg);
  //      -webkit-transform: perspective(120px) rotateX(-90deg);
  //    } 100% {
  //        transform: perspective(120px) rotateX(-180deg);
  //        -webkit-transform: perspective(120px) rotateX(-180deg);
  //      }
  //}
  //@keyframes rotatestar {
  //  0% {
  //    transform: perspective(120px) rotateX(0deg);
  //    -webkit-transform: perspective(120px) rotateX(0deg);
  //  }
  //  50% {
  //    transform: perspective(120px) rotateX(-90deg);
  //    -webkit-transform: perspective(120px) rotateX(-90deg);
  //  }
  //  100% {
  //    transform: perspective(120px) rotateX(-180deg);
  //    -webkit-transform: perspective(120px) rotateX(-180deg);
  //  }
  //}

  .detialsPage{
    text-align: center;
    button  {
      ion-icon{
        color: #fff !important;
        font-size: 2.4rem;

      }
      &:focus{
        ion-icon{
          color: color($colors,maincolor) !important;

        }
      }

    }
  }



  .newsDetails{
    ion-card{
      border: none;
      box-shadow: none;
      margin: auto;
      //margin: 0;


      ion-card-header{
        color: color($colors,maincolor);
        white-space: normal;
      }
      span{
        color: #c7c6c6;
        padding-left: 20px;
      }
      ion-card-content{
        color: #898989;
        padding: 0px 0px 20px 16px;
      }

    }
  }

}
